body {
  margin: 0;
  color: var(--color-dark-blue);
}

:root {
  --color-white: #ffffff;
  --color-dark-blue: #091540;
  --color-blue: #7692ff;
  --color-light-blue: #abd2fa;
  --main-font: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Rubik", sans-serif;
}

/* header - hero section */
header {
  background: var(--color-white);
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
}

#nav-menu > li {
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

#nav-menu :hover {
  font-size: 18px;
  color: var(--color-blue);
}

nav.scroll-down.fade-out-background {
  animation: fadeOutBackground 0.5s;
}

ul {
  text-align: center;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0px auto;
  padding: 6px 6px;
  font-size: 16px;
  font-family: var(--main-font);
  font-size: 20px;
}

h1 {
  font-size: 80px;
  max-width: 50%;
  padding-left: 20px;
  font-family: var(--main-font);
  color: var(--color-dark-blue);
}

.h1-spans {
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 900;
}

.h1-spans:hover {
  font-style: italic;
  text-decoration: none;
}

.project-icons-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 30px;
}

.social-icons-hero {
  padding: 0 20px;
  color: var(--color-dark-blue);
}
.social-icons-hero:hover {
  cursor: pointer;
  color: var(--color-blue);
}

.header-p {
  text-align: right;
  padding: 20px;
}
.js-header-email {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-dark-blue);
}

.js-header-email:hover {
  text-decoration: underline;
  color: var(--color-dark-blue);
}
.email-span {
  color: var(--color-blue);
  /* text-transform: uppercase; */
}
.email-span:hover {
  color: var(--color-dark-blue);
  /* text-transform: uppercase; */
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.header-img-div {
  width: 50%;
}

.header-image {
  width: 400px;
  display: block;
  margin: auto;
}

#typewriter {
  padding: 20px;
  margin-right: 50px;
  text-align: center;
}

/* --------- Projects section --------- */

#project-section {
  background-color: var(--color-dark-blue);
  padding-bottom: 5%;
  width: 100%;
}

#project-section > h2 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 70px;
  padding-bottom: 0;
  font-size: 60px;
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  margin-bottom: 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping */
  justify-content: space-around; /* Distribute space evenly */
  margin: 60px 0; /* Adjust margin as needed */
}

.project-container-row {
  flex: 0 0 45%; /* Each project card will take up 48% of the container width */
  max-width: 45%; /* Max width same as flex basis */
  margin: 1%; /* Provide margin around each card */
  height: auto; /* Height can be auto or set a specific height for uniformity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensures content is spaced evenly */
  background-color: var(--color-white);
  border-radius: 12px;
  background-color: var(--color-light-blue);
}

.project-container-row > video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* margin: 1%; */
  max-width: 100%;
  /* box-shadow: 0 0 20px 0 #091540; */
}

.project-container-row > img {
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
  border-radius: 12px;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: var(--color-dark-blue);
  margin-bottom: 10px;
}

h4 {
  font-family: "Rubik", sans-serif;
  color: var(--color-dark-blue);
  margin-top: 0;
  font-weight: 500;
}

.stack-icons img,
.project-icons i {
  width: 30px; /* Consistent icon size */
  height: 30px; /* Consistent icon size */
}

/* Target Specifically the button in the project-container-text */
.project-container-text > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-size: 30px;
}

.social-icons {
  color: black;
}
.social-icons:hover {
  cursor: pointer;
  color: white;
}

/* project 1 button */
/* #pacman-button {
  font-family: var(--main-font);
  box-shadow: 0 0 40px 0 blue;
  border: 12px solid blue;
  border-style: double;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
}
#pacman-button:hover {
  font-family: var(--main-font);
  box-shadow: 0 0 40px 0 #e42026;
  border: 12px solid #e42026;
  border-style: double;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
} */

#unsung-button {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--main-font);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0px 40px;
  cursor: pointer;
  background-color: var(--color-dark-blue);
  font-size: 14px;
}

#unsung-button:hover {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--main-font);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0px 40px;
  cursor: pointer;
  background-color: var(--color-blue);
}

/* Footer */
footer {
  background-color: var(--color-peach);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  padding: 30px;
}

.project-icon-footer :hover {
  cursor: pointer;
}
.social-icons-footer {
  color: var(--color-light-blue);
  padding: 0 10px;
}
.social-icons-footer:hover {
  color: var(--color-blue);
  padding: 0 10px;
}

@media (max-width: 768px) {
  /* Stack navigation items vertically on smaller screens */
  nav {
    flex-direction: column;
  }

  /* Decrease font sizes for headers on smaller screens */
  h1,
  h2,
  h3,
  h4 {
    font-size: calc(100% - 10px);
  }

  /* Adjust padding and margins to fit smaller screens */
  .header-container,
  .projects-container,
  .project-container-row {
    padding: 10px;
    margin: 10px;
  }

  /* Make hero image and header container take full width */
  .header-img-div,
  .header-container {
    width: 100%;
  }

  /* Smaller project icons */
  .stack-icons img,
  .project-icons i {
    width: 20px;
    height: 20px;
  }
}
