html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: var(--color-dark-blue);
}

:root {
  --color-white: #ffffff;
  --color-dark-blue: #091540;
  --color-blue: #7692ff;
  --color-light-blue: #7692ff;
  --main-font: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Rubik", sans-serif;
}

/* header - hero section */
header {
  background: var(--color-white);
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
}

#nav-menu > li {
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
}

#nav-menu :hover {
  font-size: 18px;
  color: var(--color-blue);
}

nav.scroll-down.fade-out-background {
  animation: fadeOutBackground 0.5s;
}

ul {
  text-align: center;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0px auto;
  padding: 6px 6px;
  font-size: 16px;
  font-family: var(--main-font);
  font-size: 20px;
}

h1 {
  font-size: 80px;
  max-width: 50%;
  padding-left: 20px;
  font-family: var(--main-font);
  color: var(--color-dark-blue);
}

.h1-spans {
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 900;
}

.h1-spans:hover {
  font-style: italic;
  text-decoration: none;
}

.project-icons-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 30px;
}

.social-icons-hero {
  padding: 0 20px;
  color: var(--color-dark-blue);
}
.social-icons-hero:hover {
  cursor: pointer;
  color: var(--color-blue);
}

.header-p {
  text-align: right;
  padding: 20px;
}
.js-header-email {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-dark-blue);
}

.js-header-email:hover {
  text-decoration: underline;
  color: var(--color-dark-blue);
}
.email-span {
  color: var(--color-blue);
}
.email-span:hover {
  color: var(--color-dark-blue);
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.header-img-div {
  width: 50%;
}

.header-image {
  width: 400px;
  display: block;
  margin: auto;
}

#typewriter {
  padding: 20px;
  margin-right: 50px;
  text-align: center;
}

/* --------------------- About / Skills Section --------------------- */
#skills-about-section {
  padding-bottom: 5%;
  width: 100%;
  background-color: var(--color-blue);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#skills-about-section h2 {
  color: var(--color-white);
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 50px;
  font-size: 60px;
  margin-bottom: 0;
}

#about-me-container {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me-container h3,
p {
  max-width: 70%;
}

#about-me-container > h3 {
  font-size: 50px;
  margin: 20px 0 0 0;
}
#skills-stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 20px 10px;
  margin: 20px 60px;
  box-shadow: 0 4px 10px 0 var(--color-dark-blue);
  border-radius: 12px;
  background-color: #7692ff;
}

.project-icons-about {
  padding-top: 20px;
}
.social-icons-about {
  color: var(--color-dark-blue);
  padding: 0 20px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}
.social-icons-about:hover {
  color: var(--color-white);
}
#skills-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 50px;
  max-width: 80%;
}
#skills-stack i {
  color: var(--color-dark-blue);
  padding: 15px;
}
#skills-stack i:hover {
  color: var(--color-white);
}

/* --------------------- Projects section --------------------- */
#project-section {
  background-color: var(--color-dark-blue);
  padding-bottom: 5%;
  width: 100%;
}

#project-section > h2 {
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 70px;
  padding-bottom: 0;
  font-size: 60px;
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  margin: 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px 0;
}

.project-container-row {
  flex: 0 0 45%;
  max-width: 45%;
  margin: 1%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  border-radius: 12px;
}

.project-container-row > video {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* margin: 1%; */
  max-width: 100%;
  box-shadow: 0 0 5px 0 var(--color-light-blue);
}

.project-container-row > img {
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
  border-radius: 12px;
  box-shadow: 0 0 5px 0 var(--color-light-blue);
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: var(--color-dark-blue);
  margin-bottom: 10px;
}

h4 {
  font-family: "Rubik", sans-serif;
  color: var(--color-dark-blue);
  margin-top: 0;
  font-weight: 500;
}

.stack-icons img,
.project-icons i {
  width: 30px;
  height: 30px;
}

.project-container-text > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-size: 30px;
}

.github-icon-projects {
  color: var(--color-blue);
}
.github-icon-projects {
  color: var(--color-blue);
  padding-right: 20px;
  margin: 0 auto;
}
.github-icon-projects:hover {
  color: var(--color-dark-blue);
  padding-right: 20px;
  margin: 0 auto;
}

#project-button {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--main-font);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0px 40px;
  cursor: pointer;
  background-color: var(--color-blue);
  font-size: 14px;
}

#project-button:hover {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--main-font);
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0px 40px;
  cursor: pointer;
  background-color: var(--color-dark-blue);
}

/* Footer */
footer {
  background-color: var(--color-peach);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  padding: 30px;
}

.project-icon-footer :hover {
  cursor: pointer;
}
.social-icons-footer {
  color: var(--color-light-blue);
  padding: 0 10px;
}
.social-icons-footer:hover {
  color: var(--color-blue);
  padding: 0 10px;
}

@media (max-width: 768px) {
  /* Stack navigation items vertically on smaller screens */
  nav {
    flex-direction: column;
  }

  /* Decrease font sizes for headers on smaller screens */
  h1,
  h2,
  h3,
  h4 {
    font-size: calc(100% - 10px);
  }

  /* Adjust padding and margins to fit smaller screens */
  .header-container,
  .projects-container,
  .project-container-row {
    padding: 10px;
    margin: 10px;
  }

  /* Make hero image and header container take full width */
  .header-img-div,
  .header-container {
    width: 100%;
  }

  /* Smaller project icons */
  .stack-icons img,
  .project-icons i {
    width: 20px;
    height: 20px;
  }
}
